.formHeader {
	border-bottom: 1px solid #eee;
	margin: 30px 0px 30px 0px;
}

input[type="radio"] {
	margin-left: 5px !important;
}

.acao form{
	width: 20px;
	float: left;
	padding: 0px 25px 0px 0px;
}