@CHARSET "ISO-8859-1";

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.navbar-brand {
	font-size: 24px;
	line-height: 22px;
	color: #FFF !important;	
} 

.mensagemSucesso {
	color: #0C0;
	font-weight: bold;
	width: 100%;
	text-align: center;
}