<?xml version="1.0" encoding="utf-8"?>

<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    
	<session-factory>

		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/sisgo</property>
		<property name="connection.username">sisgo</property>
		<property name="connection.password">123456</property>
		<property name="hibernate.temp.use_jdbc_metadata_defaults">false</property> 

		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
	
		<mapping class="sisgo.model.Anamnese" />
		<mapping class="sisgo.model.Consulta" />
		<mapping class="sisgo.model.Dentista" />
		<mapping class="sisgo.model.EstadoCivil" />
		<mapping class="sisgo.model.Funcionario" />
		<mapping class="sisgo.model.Paciente" />
		<mapping class="sisgo.model.Pessoa" />
		<mapping class="sisgo.model.PlanoTratamento" />
		<mapping class="sisgo.model.Procedimento" />
		<mapping class="sisgo.model.ProcedimentoConsulta" />
		<mapping class="sisgo.model.Tratamento" />
		<mapping class="sisgo.model.Usuario" />	
	
	</session-factory>

</hibernate-configuration>